In [1]:
using CSV
using DataFrames
using Statistics

In [2]:
users = CSV.read("BX-Users.csv", header = 1, delim = ';', missingstring = "NULL", escapechar = '\\')

278858×3 DataFrame
│ Row    │ User-ID │ Location                              │ Age     │
│        │ Int64   │ String                                │ Int64?  │
├────────┼─────────┼───────────────────────────────────────┼─────────┤
│ 1      │ 1       │ nyc, new york, usa                    │ missing │
│ 2      │ 2       │ stockton, california, usa             │ 18      │
│ 3      │ 3       │ moscow, yukon territory, russia       │ missing │
│ 4      │ 4       │ porto, v.n.gaia, portugal             │ 17      │
│ 5      │ 5       │ farnborough, hants, united kingdom    │ missing │
│ 6      │ 6       │ santa monica, california, usa         │ 61      │
│ 7      │ 7       │ washington, dc, usa                   │ missing │
│ 8      │ 8       │ timmins, ontario, canada              │ missing │
│ 9      │ 9       │ germantown, tennessee, usa            │ missing │
│ 10     │ 10      │ albacete, wisconsin, spain            │ 26      │
⋮
│ 278848 │ 278848  │ k\xf6ln, nordrhein-westfalen, germany │ missing │
│ 278849 │ 278849  │ georgetown, ontario, canada           │ 23      │
│ 278850 │ 278850  │ sergnano, lombardia, italy            │ missing │
│ 278851 │ 278851  │ dallas, texas, usa                    │ 33      │
│ 278852 │ 278852  │ brisbane, queensland, australia       │ 32      │
│ 278853 │ 278853  │ stranraer, n/a, united kingdom        │ 17      │
│ 278854 │ 278854  │ portland, oregon, usa                 │ missing │
│ 278855 │ 278855  │ tacoma, washington, united kingdom    │ 50      │
│ 278856 │ 278856  │ brampton, ontario, canada             │ missing │
│ 278857 │ 278857  │ knoxville, tennessee, usa             │ missing │
│ 278858 │ 278858  │ dublin, n/a, ireland                  │ missing │

In [3]:
books = CSV.read("BX-Books.csv", header = 1, delim = ';', missingstring = "NULL", escapechar = '\\')

271379×8 DataFrame. Omitted printing of 7 columns
│ Row    │ ISBN       │
│        │ String     │
├────────┼────────────┤
│ 1      │ 0195153448 │
│ 2      │ 0002005018 │
│ 3      │ 0060973129 │
│ 4      │ 0374157065 │
│ 5      │ 0393045218 │
│ 6      │ 0399135782 │
│ 7      │ 0425176428 │
│ 8      │ 0671870432 │
│ 9      │ 0679425608 │
│ 10     │ 074322678X │
⋮
│ 271369 │ 0520242335 │
│ 271370 │ 0762412119 │
│ 271371 │ 1582380805 │
│ 271372 │ 1845170423 │
│ 271373 │ 014002803X │
│ 271374 │ 0449906736 │
│ 271375 │ 0440400988 │
│ 271376 │ 0525447644 │
│ 271377 │ 006008667X │
│ 271378 │ 0192126040 │
│ 271379 │ 0767409752 │

In [4]:
books_ratings = CSV.read("BX-Book-Ratings.csv", header = 1, delim = ';', missingstring = "NULL", escapechar = '\\')

1149780×3 DataFrame
│ Row     │ User-ID │ ISBN        │ Book-Rating │
│         │ Int64   │ String      │ Int64       │
├─────────┼─────────┼─────────────┼─────────────┤
│ 1       │ 276725  │ 034545104X  │ 0           │
│ 2       │ 276726  │ 0155061224  │ 5           │
│ 3       │ 276727  │ 0446520802  │ 0           │
│ 4       │ 276729  │ 052165615X  │ 3           │
│ 5       │ 276729  │ 0521795028  │ 6           │
│ 6       │ 276733  │ 2080674722  │ 0           │
│ 7       │ 276736  │ 3257224281  │ 8           │
│ 8       │ 276737  │ 0600570967  │ 6           │
│ 9       │ 276744  │ 038550120X  │ 7           │
│ 10      │ 276745  │ 342310538   │ 10          │
⋮
│ 1149770 │ 276704  │ 059032120X  │ 0           │
│ 1149771 │ 276704  │ 0679752714  │ 0           │
│ 1149772 │ 276704  │ 0743211383  │ 7           │
│ 1149773 │ 276704  │ 080410526X  │ 0           │
│ 1149774 │ 276704  │ 0806917695  │ 5           │
│ 1149775 │ 276704  │ 0876044011  │ 0           │
│ 1149776 │ 276704  │ 1563526298  │ 9           │
│ 1149777 │ 276706  │ 0679447156  │ 0           │
│ 1149778 │ 276709  │ 0515107662  │ 10          │
│ 1149779 │ 276721  │ 0590442449  │ 10          │
│ 1149780 │ 276723  │ 05162443314 │ 8           │

In [5]:
names(users)

3-element Array{String,1}:
 "User-ID"
 "Location"
 "Age"

In [6]:
mean(skipmissing(users[:Age]))

34.75143370454978

In [7]:
users[:Age] = coalesce.(users[:Age], mean(skipmissing(users[:Age])))

278858-element Array{Real,1}:
 34.75143370454978
 18
 34.75143370454978
 17
 34.75143370454978
 61
 34.75143370454978
 34.75143370454978
 34.75143370454978
 26
 14
 34.75143370454978
 26
  ⋮
 34.75143370454978
 34.75143370454978
 23
 34.75143370454978
 33
 32
 17
 34.75143370454978
 50
 34.75143370454978
 34.75143370454978
 34.75143370454978

In [8]:
users = users[users[:Age] .< 100, :]

278485×3 DataFrame
│ Row    │ User-ID │ Location                              │ Age     │
│        │ Int64   │ String                                │ Real    │
├────────┼─────────┼───────────────────────────────────────┼─────────┤
│ 1      │ 1       │ nyc, new york, usa                    │ 34.7514 │
│ 2      │ 2       │ stockton, california, usa             │ 18      │
│ 3      │ 3       │ moscow, yukon territory, russia       │ 34.7514 │
│ 4      │ 4       │ porto, v.n.gaia, portugal             │ 17      │
│ 5      │ 5       │ farnborough, hants, united kingdom    │ 34.7514 │
│ 6      │ 6       │ santa monica, california, usa         │ 61      │
│ 7      │ 7       │ washington, dc, usa                   │ 34.7514 │
│ 8      │ 8       │ timmins, ontario, canada              │ 34.7514 │
│ 9      │ 9       │ germantown, tennessee, usa            │ 34.7514 │
│ 10     │ 10      │ albacete, wisconsin, spain            │ 26      │
⋮
│ 278475 │ 278848  │ k\xf6ln, nordrhein-westfalen, germany │ 34.7514 │
│ 278476 │ 278849  │ georgetown, ontario, canada           │ 23      │
│ 278477 │ 278850  │ sergnano, lombardia, italy            │ 34.7514 │
│ 278478 │ 278851  │ dallas, texas, usa                    │ 33      │
│ 278479 │ 278852  │ brisbane, queensland, australia       │ 32      │
│ 278480 │ 278853  │ stranraer, n/a, united kingdom        │ 17      │
│ 278481 │ 278854  │ portland, oregon, usa                 │ 34.7514 │
│ 278482 │ 278855  │ tacoma, washington, united kingdom    │ 50      │
│ 278483 │ 278856  │ brampton, ontario, canada             │ 34.7514 │
│ 278484 │ 278857  │ knoxville, tennessee, usa             │ 34.7514 │
│ 278485 │ 278858  │ dublin, n/a, ireland                  │ 34.7514 │

In [10]:
names(books)

8-element Array{String,1}:
 "ISBN"
 "Book-Title"
 "Book-Author"
 "Year-Of-Publication"
 "Publisher"
 "Image-URL-S"
 "Image-URL-M"
 "Image-URL-L"

In [11]:
names(books_ratings)

3-element Array{String,1}:
 "User-ID"
 "ISBN"
 "Book-Rating"

In [12]:
books_ratings_books = join(books_ratings, books, on = :ISBN, kind =:inner)

1031175×10 DataFrame. Omitted printing of 7 columns
│ Row     │ User-ID │ ISBN       │ Book-Rating │
│         │ Int64   │ String     │ Int64       │
├─────────┼─────────┼────────────┼─────────────┤
│ 1       │ 276725  │ 034545104X │ 0           │
│ 2       │ 276726  │ 0155061224 │ 5           │
│ 3       │ 276727  │ 0446520802 │ 0           │
│ 4       │ 276729  │ 052165615X │ 3           │
│ 5       │ 276729  │ 0521795028 │ 6           │
│ 6       │ 276733  │ 2080674722 │ 0           │
│ 7       │ 276744  │ 038550120X │ 7           │
│ 8       │ 276746  │ 0425115801 │ 0           │
│ 9       │ 276746  │ 0449006522 │ 0           │
│ 10      │ 276746  │ 0553561618 │ 0           │
⋮
│ 1031165 │ 276704  │ 0446605409 │ 0           │
│ 1031166 │ 276704  │ 059032120X │ 0           │
│ 1031167 │ 276704  │ 0679752714 │ 0           │
│ 1031168 │ 276704  │ 0743211383 │ 7           │
│ 1031169 │ 276704  │ 080410526X │ 0           │
│ 1031170 │ 276704  │ 0806917695 │ 5           │
│ 1031171 │ 276704  │ 0876044011 │ 0           │
│ 1031172 │ 276704  │ 1563526298 │ 9           │
│ 1031173 │ 276706  │ 0679447156 │ 0           │
│ 1031174 │ 276709  │ 0515107662 │ 10          │
│ 1031175 │ 276721  │ 0590442449 │ 10          │

In [13]:
 books_ratings_books_users = join(books_ratings_books, users, on =Symbol("User-ID"), kind = :inner)

1028149×12 DataFrame. Omitted printing of 9 columns
│ Row     │ User-ID │ ISBN       │ Book-Rating │
│         │ Int64   │ String     │ Int64       │
├─────────┼─────────┼────────────┼─────────────┤
│ 1       │ 276725  │ 034545104X │ 0           │
│ 2       │ 276726  │ 0155061224 │ 5           │
│ 3       │ 276727  │ 0446520802 │ 0           │
│ 4       │ 276729  │ 052165615X │ 3           │
│ 5       │ 276729  │ 0521795028 │ 6           │
│ 6       │ 276733  │ 2080674722 │ 0           │
│ 7       │ 276744  │ 038550120X │ 7           │
│ 8       │ 276746  │ 0425115801 │ 0           │
│ 9       │ 276746  │ 0449006522 │ 0           │
│ 10      │ 276746  │ 0553561618 │ 0           │
⋮
│ 1028139 │ 276704  │ 0446605409 │ 0           │
│ 1028140 │ 276704  │ 059032120X │ 0           │
│ 1028141 │ 276704  │ 0679752714 │ 0           │
│ 1028142 │ 276704  │ 0743211383 │ 7           │
│ 1028143 │ 276704  │ 080410526X │ 0           │
│ 1028144 │ 276704  │ 0806917695 │ 5           │
│ 1028145 │ 276704  │ 0876044011 │ 0           │
│ 1028146 │ 276704  │ 1563526298 │ 9           │
│ 1028147 │ 276706  │ 0679447156 │ 0           │
│ 1028148 │ 276709  │ 0515107662 │ 10          │
│ 1028149 │ 276721  │ 0590442449 │ 10          │

In [67]:
top_ratings = books_ratings_books_users[books_ratings_books_users[Symbol("Book-Rating")].>= 7, :]

289659×12 DataFrame. Omitted printing of 9 columns
│ Row    │ User-ID │ ISBN       │ Book-Rating │
│        │ Int64   │ String     │ Int64       │
├────────┼─────────┼────────────┼─────────────┤
│ 1      │ 276744  │ 038550120X │ 7           │
│ 2      │ 276747  │ 0060517794 │ 9           │
│ 3      │ 276747  │ 0671537458 │ 9           │
│ 4      │ 276747  │ 0679776818 │ 8           │
│ 5      │ 276747  │ 0943066433 │ 7           │
│ 6      │ 276747  │ 1885408226 │ 7           │
│ 7      │ 276751  │ 3596218098 │ 8           │
│ 8      │ 276754  │ 0684867621 │ 8           │
│ 9      │ 276762  │ 3453092007 │ 8           │
│ 10     │ 276772  │ 0553572369 │ 7           │
⋮
│ 289649 │ 276688  │ 0688156134 │ 8           │
│ 289650 │ 276688  │ 0743202694 │ 10          │
│ 289651 │ 276688  │ 0786011157 │ 7           │
│ 289652 │ 276688  │ 0836218655 │ 10          │
│ 289653 │ 276688  │ 0836236688 │ 10          │
│ 289654 │ 276688  │ 0892966548 │ 10          │
│ 289655 │ 276688  │ 1575660792 │ 7           │
│ 289656 │ 276704  │ 0743211383 │ 7           │
│ 289657 │ 276704  │ 1563526298 │ 9           │
│ 289658 │ 276709  │ 0515107662 │ 10          │
│ 289659 │ 276721  │ 0590442449 │ 10          │

In [15]:
 for n in names(top_ratings)
    rename!(top_ratings, n =>Symbol(replace(string(n), "-"=>""))) 
end

In [16]:
 names(top_ratings)

12-element Array{String,1}:
 "UserID"
 "ISBN"
 "BookRating"
 "BookTitle"
 "BookAuthor"
 "YearOfPublication"
 "Publisher"
 "ImageURLS"
 "ImageURLM"
 "ImageURLL"
 "Location"
 "Age"

In [17]:
ratings_count = by(top_ratings, :UserID, df -> size(df[:UserID])[1])

47012×2 DataFrame
│ Row   │ UserID │ x1    │
│       │ Int64  │ Int32 │
├───────┼────────┼───────┤
│ 1     │ 276747 │ 3     │
│ 2     │ 276751 │ 1     │
│ 3     │ 276754 │ 1     │
│ 4     │ 276762 │ 1     │
│ 5     │ 276772 │ 2     │
│ 6     │ 276774 │ 1     │
│ 7     │ 276786 │ 1     │
│ 8     │ 276788 │ 2     │
│ 9     │ 276804 │ 1     │
│ 10    │ 276808 │ 1     │
⋮
│ 47002 │ 276660 │ 1     │
│ 47003 │ 276664 │ 2     │
│ 47004 │ 276670 │ 10    │
│ 47005 │ 276671 │ 1     │
│ 47006 │ 276680 │ 40    │
│ 47007 │ 276681 │ 9     │
│ 47008 │ 276683 │ 1     │
│ 47009 │ 276688 │ 16    │
│ 47010 │ 276704 │ 1     │
│ 47011 │ 276709 │ 1     │
│ 47012 │ 276721 │ 1     │

In [18]:
names(ratings_count)

2-element Array{String,1}:
 "UserID"
 "x1"

In [19]:
ratings_count = ratings_count[ratings_count[:x1] .>= 5, :]

7430×2 DataFrame
│ Row  │ UserID │ x1    │
│      │ Int64  │ Int32 │
├──────┼────────┼───────┤
│ 1    │ 276822 │ 12    │
│ 2    │ 276847 │ 25    │
│ 3    │ 276859 │ 6     │
│ 4    │ 276861 │ 7     │
│ 5    │ 276925 │ 9     │
│ 6    │ 276929 │ 6     │
│ 7    │ 276939 │ 8     │
│ 8    │ 276964 │ 13    │
│ 9    │ 276984 │ 14    │
│ 10   │ 276994 │ 5     │
⋮
│ 7420 │ 276487 │ 5     │
│ 7421 │ 276498 │ 8     │
│ 7422 │ 276521 │ 14    │
│ 7423 │ 276538 │ 9     │
│ 7424 │ 276560 │ 5     │
│ 7425 │ 276579 │ 6     │
│ 7426 │ 276641 │ 13    │
│ 7427 │ 276670 │ 10    │
│ 7428 │ 276680 │ 40    │
│ 7429 │ 276681 │ 9     │
│ 7430 │ 276688 │ 16    │

In [20]:
ratings_count[ratings_count[:x1] .> 1000, :]

3×2 DataFrame
│ Row │ UserID │ x1    │
│     │ Int64  │ Int32 │
├─────┼────────┼───────┤
│ 1   │ 11676  │ 3750  │
│ 2   │ 98391  │ 5492  │
│ 3   │ 153662 │ 1592  │

In [21]:
ratings_count = ratings_count[ratings_count[:x1] .<= 1000, :]

7427×2 DataFrame
│ Row  │ UserID │ x1    │
│      │ Int64  │ Int32 │
├──────┼────────┼───────┤
│ 1    │ 276822 │ 12    │
│ 2    │ 276847 │ 25    │
│ 3    │ 276859 │ 6     │
│ 4    │ 276861 │ 7     │
│ 5    │ 276925 │ 9     │
│ 6    │ 276929 │ 6     │
│ 7    │ 276939 │ 8     │
│ 8    │ 276964 │ 13    │
│ 9    │ 276984 │ 14    │
│ 10   │ 276994 │ 5     │
⋮
│ 7417 │ 276487 │ 5     │
│ 7418 │ 276498 │ 8     │
│ 7419 │ 276521 │ 14    │
│ 7420 │ 276538 │ 9     │
│ 7421 │ 276560 │ 5     │
│ 7422 │ 276579 │ 6     │
│ 7423 │ 276641 │ 13    │
│ 7424 │ 276670 │ 10    │
│ 7425 │ 276680 │ 40    │
│ 7426 │ 276681 │ 9     │
│ 7427 │ 276688 │ 16    │

In [22]:
top_ratings = join(top_ratings, ratings_count, on = :UserID, kind =:inner)

155059×13 DataFrame. Omitted printing of 10 columns
│ Row    │ UserID │ ISBN       │ BookRating │
│        │ Int64  │ String     │ Int64      │
├────────┼────────┼────────────┼────────────┤
│ 1      │ 276822 │ 0060096195 │ 10         │
│ 2      │ 276822 │ 0141310340 │ 9          │
│ 3      │ 276822 │ 0142302198 │ 10         │
│ 4      │ 276822 │ 0156006065 │ 9          │
│ 5      │ 276822 │ 0375821813 │ 9          │
│ 6      │ 276822 │ 038076041X │ 10         │
│ 7      │ 276822 │ 0689804458 │ 8          │
│ 8      │ 276822 │ 0786812508 │ 9          │
│ 9      │ 276822 │ 0786817070 │ 10         │
│ 10     │ 276822 │ 0805057706 │ 10         │
⋮
│ 155049 │ 276688 │ 0553074938 │ 8          │
│ 155050 │ 276688 │ 0553074946 │ 9          │
│ 155051 │ 276688 │ 0553088467 │ 8          │
│ 155052 │ 276688 │ 0553089234 │ 10         │
│ 155053 │ 276688 │ 0684195569 │ 10         │
│ 155054 │ 276688 │ 0684804484 │ 10         │
│ 155055 │ 276688 │ 0688156134 │ 8          │
│ 155056 │ 276688 │ 0743202694 │ 10         │
│ 155057 │ 276688 │ 0836218655 │ 10         │
│ 155058 │ 276688 │ 0836236688 │ 10         │
│ 155059 │ 276688 │ 0892966548 │ 10         │

In [23]:
CSV.write("top_ratings.csv", top_ratings)

"top_ratings.csv"

In [24]:
top_ratings = CSV.read("top_ratings.csv")

155059×13 DataFrame. Omitted printing of 10 columns
│ Row    │ UserID │ ISBN       │ BookRating │
│        │ Int64  │ String     │ Int64      │
├────────┼────────┼────────────┼────────────┤
│ 1      │ 276822 │ 0060096195 │ 10         │
│ 2      │ 276822 │ 0141310340 │ 9          │
│ 3      │ 276822 │ 0142302198 │ 10         │
│ 4      │ 276822 │ 0156006065 │ 9          │
│ 5      │ 276822 │ 0375821813 │ 9          │
│ 6      │ 276822 │ 038076041X │ 10         │
│ 7      │ 276822 │ 0689804458 │ 8          │
│ 8      │ 276822 │ 0786812508 │ 9          │
│ 9      │ 276822 │ 0786817070 │ 10         │
│ 10     │ 276822 │ 0805057706 │ 10         │
⋮
│ 155049 │ 276688 │ 0553074938 │ 8          │
│ 155050 │ 276688 │ 0553074946 │ 9          │
│ 155051 │ 276688 │ 0553088467 │ 8          │
│ 155052 │ 276688 │ 0553089234 │ 10         │
│ 155053 │ 276688 │ 0684195569 │ 10         │
│ 155054 │ 276688 │ 0684804484 │ 10         │
│ 155055 │ 276688 │ 0688156134 │ 8          │
│ 155056 │ 276688 │ 0743202694 │ 10         │
│ 155057 │ 276688 │ 0836218655 │ 10         │
│ 155058 │ 276688 │ 0836236688 │ 10         │
│ 155059 │ 276688 │ 0892966548 │ 10         │

In [25]:
 training_data = DataFrame(UserID = Int[], ISBN = String[], Rating =
Int[])

0×3 DataFrame

In [26]:
 testing_data = DataFrame(UserID = Int[], ISBN = String[], Rating =
Int[])

0×3 DataFrame

In [48]:
for row in eachrow(top_ratings)
    rand(1:10) == 10 ?
    push!(testing_data, convert(Array, row[[:UserID, :ISBN, :BookRating]])) :
    push!(training_data, convert(Array, row[[:UserID, :ISBN, :BookRating]]))
 end

In [49]:
training_data = CSV.read("training_data.csv",DataFrame)

10005×3 DataFrame
│ Row   │ UserID │ ISBN       │ Rating │
│       │ Int64  │ String     │ Int64  │
├───────┼────────┼────────────┼────────┤
│ 1     │ 277427 │ 002542730X │ 10     │
│ 2     │ 277427 │ 003008685X │ 8      │
│ 3     │ 277427 │ 0061009059 │ 9      │
│ 4     │ 277427 │ 0062507109 │ 8      │
│ 5     │ 277427 │ 0132220598 │ 8      │
│ 6     │ 277427 │ 014039026X │ 8      │
│ 7     │ 277427 │ 0141439742 │ 8      │
│ 8     │ 277427 │ 0152050167 │ 10     │
│ 9     │ 277427 │ 0201000822 │ 10     │
│ 10    │ 277427 │ 0310435706 │ 10     │
⋮
│ 9995  │ 275970 │ 1561483516 │ 8      │
│ 9996  │ 275970 │ 1583224890 │ 10     │
│ 9997  │ 275970 │ 1584690445 │ 10     │
│ 9998  │ 275970 │ 1584690453 │ 10     │
│ 9999  │ 275970 │ 158469047X │ 10     │
│ 10000 │ 275970 │ 1586210661 │ 9      │
│ 10001 │ 275970 │ 1586214349 │ 8      │
│ 10002 │ 275970 │ 1586632043 │ 10     │
│ 10003 │ 275970 │ 1860462588 │ 8      │
│ 10004 │ 275970 │ 3411086211 │ 10     │
│ 10005 │ 275970 │ 9626340762 │ 8      │

In [50]:
test_data = CSV.read("test_data.csv",DataFrame)

1056×3 DataFrame
│ Row  │ UserID │ ISBN       │ Rating │
│      │ Int64  │ String     │ Int64  │
├──────┼────────┼────────────┼────────┤
│ 1    │ 277427 │ 0060006641 │ 10     │
│ 2    │ 277427 │ 0441627404 │ 10     │
│ 3    │ 277427 │ 0446600415 │ 10     │
│ 4    │ 277427 │ 0671727079 │ 9      │
│ 5    │ 277427 │ 0671740504 │ 8      │
│ 6    │ 277427 │ 0671749897 │ 8      │
│ 7    │ 277427 │ 0836218817 │ 10     │
│ 8    │ 277427 │ 0842370668 │ 10     │
│ 9    │ 2033   │ 0316779032 │ 10     │
│ 10   │ 2033   │ 0375815260 │ 10     │
⋮
│ 1046 │ 274301 │ 1855856905 │ 10     │
│ 1047 │ 275970 │ 0316738956 │ 9      │
│ 1048 │ 275970 │ 0439420105 │ 9      │
│ 1049 │ 275970 │ 0451450957 │ 8      │
│ 1050 │ 275970 │ 0486292568 │ 10     │
│ 1051 │ 275970 │ 0553107755 │ 8      │
│ 1052 │ 275970 │ 0553263218 │ 10     │
│ 1053 │ 275970 │ 0763614130 │ 9      │
│ 1054 │ 275970 │ 0811804534 │ 8      │
│ 1055 │ 275970 │ 0896086011 │ 10     │
│ 1056 │ 275970 │ 1584690461 │ 10     │

In [51]:
using Recommendation

In [53]:
struct Event
    UserID::Int
    ISBN::String
    Rating::Int
end

In [54]:
user_mappings,book_mappings= Dict{Int,Int}(),Dict{String,Int}()

(Dict{Int32,Int32}(), Dict{String,Int32}())

In [55]:
user_counter,book_counter= 0,0

(0, 0)

In [56]:
events =Recommendation.Event[]

Recommendation.Event[]

In [62]:
for row in eachrow(training_data) 
    global  user_counter,book_counter
    user_id,book_id, rating = row[:UserID],row[:ISBN], row[:Rating]
    push!(events,Recommendation.Event( user_mappings[user_id],book_mappings[book_id], rating))
end

In [63]:
events

20010-element Array{Recommendation.Event,1}:
 Recommendation.Event(1, 1, 10.0)
 Recommendation.Event(1, 2, 8.0)
 Recommendation.Event(1, 3, 9.0)
 Recommendation.Event(1, 4, 8.0)
 Recommendation.Event(1, 5, 8.0)
 Recommendation.Event(1, 6, 8.0)
 Recommendation.Event(1, 7, 8.0)
 Recommendation.Event(1, 8, 10.0)
 Recommendation.Event(1, 9, 10.0)
 Recommendation.Event(1, 10, 10.0)
 Recommendation.Event(1, 11, 8.0)
 Recommendation.Event(1, 12, 8.0)
 Recommendation.Event(1, 13, 10.0)
 ⋮
 Recommendation.Event(69, 9045, 10.0)
 Recommendation.Event(69, 738, 8.0)
 Recommendation.Event(69, 9046, 10.0)
 Recommendation.Event(69, 9047, 10.0)
 Recommendation.Event(69, 9048, 10.0)
 Recommendation.Event(69, 9049, 10.0)
 Recommendation.Event(69, 9050, 9.0)
 Recommendation.Event(69, 9051, 8.0)
 Recommendation.Event(69, 9052, 10.0)
 Recommendation.Event(69, 9053, 8.0)
 Recommendation.Event(69, 9054, 10.0)
 Recommendation.Event(69, 9055, 8.0)

In [64]:
da = DataAccessor(events, user_counter, book_counter)

DataAccessor(Recommendation.Event[Recommendation.Event(1, 1, 10.0), Recommendation.Event(1, 2, 8.0), Recommendation.Event(1, 3, 9.0), Recommendation.Event(1, 4, 8.0), Recommendation.Event(1, 5, 8.0), Recommendation.Event(1, 6, 8.0), Recommendation.Event(1, 7, 8.0), Recommendation.Event(1, 8, 10.0), Recommendation.Event(1, 9, 10.0), Recommendation.Event(1, 10, 10.0)  …  Recommendation.Event(69, 9046, 10.0), Recommendation.Event(69, 9047, 10.0), Recommendation.Event(69, 9048, 10.0), Recommendation.Event(69, 9049, 10.0), Recommendation.Event(69, 9050, 9.0), Recommendation.Event(69, 9051, 8.0), Recommendation.Event(69, 9052, 10.0), Recommendation.Event(69, 9053, 8.0), Recommendation.Event(69, 9054, 10.0), Recommendation.Event(69, 9055, 8.0)], [20.0 16.0 … NaN NaN; NaN NaN … NaN NaN; … ; NaN NaN … NaN NaN; NaN NaN … 20.0 16.0], Dict{Int32,Any}(), Dict{Int32,Any}())

In [65]:
recommender = MF(da)
build!(recommender)

181100-element Array{Float64,1}:
 0.28724579635090103
 0.26389208540700543
 0.32037754799886003
 0.26391735629185464
 0.2639335454133259
 0.26396126345805554
 0.26397167448298303
 0.3424505825943452
 0.3298911580775577
 0.32999712594627145
 0.2639325312467967
 0.2932582014366799
 0.32355406152799576
 ⋮
 0.26205908839489245
 0.3274888212092757
 0.32748944197052376
 0.32748118608522125
 0.327556758966351
 0.32748270757471853
 0.29482046347049834
 0.2621193951782376
 0.32758277728848095
 0.2621025417934319
 0.3274069172605459
 0.2620071262627409

In [66]:
recommend(recommender, 1, 20, [1:book_counter...])

20-element Array{Pair{Int32,Float64},1}:
 5081 => 39.652306393908866
 5079 => 39.652075501079345
 5078 => 39.65183132190778
 5077 => 35.249070013280836
 5080 => 35.248705887464006
  537 => 23.87735795310062
  544 => 23.87612467302809
  529 => 23.875627570241566
  519 => 23.8755428464544
  530 => 23.87518585646149
  509 => 23.874654435699515
  533 => 23.874261447295456
  511 => 23.87424670047063
  527 => 23.87424166148528
  531 => 23.87363181742659
  535 => 23.873392130562586
  541 => 23.87329670918009
  524 => 23.87315855447826
  510 => 23.872988801021982
  542 => 23.872778834167413